go 1.25.4

use (
	./apps/admin
	./apps/api
	./apps/billing
	./apps/checkout
	./apps/cron
	./apps/dashboard
	./apps/email
	./apps/file
	./apps/migrate
	./apps/webhook
	./libs/go/apix
	./libs/go/authx
	./libs/go/cryptox
	./libs/go/dbx
	./libs/go/emailx
	./libs/go/envx
	./libs/go/logx
	./libs/go/qx
	./libs/go/paymentx
	./libs/go/routerx
)
