go 1.25.4

use (
	./apps/admin
	./apps/api
	./apps/billing
	./apps/checkout
	./apps/dashboard
	./apps/email
	./apps/file
	./apps/quote
	./e2etest
	./libs/go/apix
	./libs/go/authx
	./libs/go/cronx
	./libs/go/cryptox
	./libs/go/dbx
	./libs/go/discordx
	./libs/go/dogfoodx
	./libs/go/emailx
	./libs/go/envx
	./libs/go/logx
	./libs/go/paymentx
	./libs/go/qx
	./libs/go/ratelimitx
	./libs/go/routerx
	./libs/go/services
	./libs/go/storex
	./libs/go/webhookx
	./migrate
	./sdks/go
	./tools/dev-cli
)
