services:

  cron_worker:
    build:
      context: ../apps/cron
    container_name: cron_worker
    restart: always
    depends_on:
      - redis
    environment:
      REDIS_ADDR: "redis:6379"

  email_worker:
    build:
      context: ../apps/email
    container_name: email_worker
    restart: always
    depends_on:
      - redis
      - mailpit
    environment:
      REDIS_ADDR: "redis:6379"
      SMTP_SERVER: "localhost:1025"