services:

  postgres:
    image: postgres
    container_name: postgres_instance
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis
    container_name: redis_instance
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: adminpassword
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "true"
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: "8080"
      KC_PROXY: "edge"
    command: ["start-dev", "--import-realm"]
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
      - ./keycloak/realms:/opt/keycloak/data/import

  asynqmon:
    image: hibiken/asynqmon
    container_name: asynqmon
    restart: always
    platform: linux/amd64
    depends_on:
      redis:
        condition: service_started
    ports:
      - "8090:8080"
    environment:
      REDIS_ADDR: redis:6379
      ASYNQMON_SERVER_PORT: 8080

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"

  prisma_studio:
    build:
      context: ./prisma-studio
    container_name: prisma_studio
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://admin:adminpassword@postgres:5432/main_portcall_db
    ports:
      - "5555:5555"

volumes:
  postgres_data:
  redis_data: