services:

  asynqmon:
    image: hibiken/asynqmon
    container_name: asynqmon
    restart: always
    platform: linux/amd64
    depends_on:
      redis:
        condition: service_started
    ports:
      - "8090:8080"
    environment:
      REDIS_ADDR: redis:6379
      ASYNQMON_SERVER_PORT: 8080

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"

  prisma_studio:
    build:
      context: ./prisma-studio
    container_name: prisma_studio
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://admin:adminpassword@postgres:5432/main_portcall_db
    ports:
      - "5555:5555"