services:

  cron_worker:
    build:
      context: ../apps/cron
    container_name: cron_worker
    restart: always
    depends_on:
      - redis
    environment:
      REDIS_ADDR: "redis:6379"

  email_worker:
    build:
      context: ../apps/email
    container_name: email_worker
    restart: always
    depends_on:
      - redis
      - mailpit
    environment:
      REDIS_ADDR: "redis:6379"
      SMTP_SERVER: "localhost:1025"

  billing_worker:
    build:
      context: ../apps/billing
    container_name: billing_worker
    restart: always
    depends_on:
      - redis
      - postgres
    environment:
      APP_ENV: "production"
      REDIS_ADDR: "redis:6379"
      AES_ENCRYPTION_KEY: "zRBkAMS4lX9CYBLJajHF/J0p+kcIIxVIr9gR4Y1M+nM="
      MAIN_DATABASE_URL: "postgresql://admin:adminpassword@postgres:5432/main_portcall_db?sslmode=disable"