services:

  quote:
    build:
      context: ..
      dockerfile: apps/quote/Dockerfile
    container_name: quote
    restart: always
    depends_on:
      - redis
      - postgres
      - minio
    ports:
      - "8010:8010"
    environment:
      APP_ENV: "development"
      PORT: "8010"
      REDIS_ADDR: "redis:6379"
      AES_ENCRYPTION_KEY: "zRBkAMS4lX9CYBLJajHF/J0p+kcIIxVIr9gR4Y1M+nM="
      DATABASE_URL: "postgresql://admin:adminpassword@postgres:5432/main_portcall_db?sslmode=disable"
      S3_REGION: "us-east-1"
      S3_ENDPOINT: "http://minio:9000"
      S3_ACCESS_KEY_ID: "admin"
      S3_SECRET_ACCESS_KEY: "admin123"
