services:

  api:
    build:
      context: ..
      dockerfile: apps/api/Dockerfile
    container_name: api
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - "9080:8080"
    environment:
      APP_ENV: "development"
      PORT: "8080"
      REDIS_ADDR: "redis:6379"
      AES_ENCRYPTION_KEY: "zRBkAMS4lX9CYBLJajHF/J0p+kcIIxVIr9gR4Y1M+nM="
      DATABASE_URL: "postgresql://admin:adminpassword@postgres:5432/main_portcall_db?sslmode=disable"
