services:

  admin:
    build:
      context: ..
      dockerfile: apps/admin/Dockerfile
      args:
        - VITE_KEYCLOAK_URL=http://localhost:8180
    container_name: admin
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - "8081:8081"
    environment:
      APP_ENV: "development"
      PORT: "8081"
      REDIS_ADDR: "redis:6379"
      AES_ENCRYPTION_KEY: "zRBkAMS4lX9CYBLJajHF/J0p+kcIIxVIr9gR4Y1M+nM="
      DATABASE_URL: "postgresql://admin:adminpassword@postgres:5432/main_portcall_db?sslmode=disable"
      KEYCLOAK_API_URL: "http://keycloak:8080"
      KEYCLOAK_URL: "http://keycloak:8080"
      KEYCLOAK_REALM: "admin"
      KEYCLOAK_CLIENT_ID: "portcall-admin"
      # Admin API Key for programmatic access
      ADMIN_API_KEY: "admin_e5f7a9b2c4d6e8f0a1b3c5d7e9f1a3b5c7d9e1f3a5b7c9d1e3f5a7b9c1d3e5f7"
