services:

  file-api:
    build:
      context: ..
      dockerfile: apps/file/Dockerfile
    container_name: file-api
    restart: always
    depends_on:
      - postgres
      - minio
    ports:
      - "8085:8085"
    environment:
      APP_ENV: "development"
      PORT: "8085"
      DATABASE_URL: "postgresql://admin:adminpassword@postgres:5432/main_portcall_db?sslmode=disable"
      S3_REGION: "us-east-1"
      S3_ENDPOINT: "http://minio:9000"
      S3_ACCESS_KEY_ID: "admin"
      S3_SECRET_ACCESS_KEY: "admin123"
