{{- if .Values.observability.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: {{ .Values.global.namespace }}
  labels:
    app: promtail
spec:
  selector:
    matchLabels:
      app: promtail
  template:
    metadata:
      labels:
        app: promtail
    spec:
      serviceAccountName: promtail
      containers:
        - name: promtail
          image: {{ .Values.observability.promtail.image }}
          args: ["-config.file=/etc/promtail/promtail.yaml"]
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: config
              mountPath: /etc/promtail
            - name: run
              mountPath: /run/promtail
            - name: varlog
              mountPath: /var/log
              readOnly: true
          resources:
            requests:
              memory: {{ .Values.observability.promtail.resources.requests.memory }}
              cpu: {{ .Values.observability.promtail.resources.requests.cpu }}
            limits:
              memory: {{ .Values.observability.promtail.resources.limits.memory }}
              cpu: {{ .Values.observability.promtail.resources.limits.cpu }}
      volumes:
        - name: config
          configMap:
            name: promtail-config
        - name: run
          emptyDir: {}
        - name: varlog
          hostPath:
            path: /var/log
{{- end }}
