# Example environment variables for the dashboard application
PORT="8082"
AES_ENCRYPTION_KEY="zRBkAMS4lX9CYBLJajHF/J0p+kcIIxVIr9gR4Y1M+nM="
REDIS_ADDR="127.0.0.1:6379"
DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/main_portcall_db?sslmode=disable"